<!DOCTYPE html>
<html>
<head>
    <title>{{ article.title }}</title>
</head>
<body>
    <h1>{{ article.title }}</h1>
    <p><strong>Source:</strong> {{ article.nom_source }}</p>
    <p><strong>Publisher:</strong> {{ article.publisher }}</p>
    <p><strong>Code Source:</strong> {{ article.code_source }}</p>
    <p><strong>Publication Date:</strong> {{ article.publication_date }}</p>
    <hr>
    <p>{{ article.content }}</p>

    <br>
    <br>
    <button href="/">← Retour à la Page d'acceuil</button>
</body>
</html>
<br><br>
