DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Observer et Modifier les données Factiva</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <h1>Observation et modification des données Factiva</h1>
    
    <div class="content">
        <form method="post" action="/factiva/show/" enctype="multipart/form-data" target="_blank" class="form-container">
            {% csrf_token %}
            <label for="start_date">Date de début :</label>
            <input type="date" id="start_date" name="start_date" class="input-field">
            <br><br>
            <label for="end_date">Date de fin :</label>
            <input type="date" id="end_date" name="end_date" class="input-field">
            <br><br>
            <label for="sources">Choisir les sources :</label>
            <select id="sources" name="sources" multiple>
                <option value="all">Tous</option>
                {% for source in sources %}
                <option value="{{ source }}" {% if source in selected_sources %}selected{% endif %}>{{ source }}</option>
                {% endfor %}
            </select>
            <br><br>
            <button type="submit" class="button">Afficher les données Factiva</button>
        </form>
        <br><br>
        <a href="/factiva/upload/" title="Suppresion de tous les articles et ajout des articles téléchargés" class="button">Réinitialiser les données Factiva</a>
        <br><br>
        <a href="/factiva/append/" title="Ajout des données téléchargées dans la base de données" class="button">Ajouter des données Factiva</a>
        <br><br>
        <a href="/factiva/supp/" title="Suppresion de tous les articles" class="button">Supprimer toutes les données Factiva</a>
    </div>
    <br><br>
    <br>
    <a href="/" class="button">Retour à l'accueil</a>
</body>
</html>